data/*
*.pth
check_frame_class.py
*.out
get_frame_index.py
sanity_check.py
detectron2_fasterrcnn.txt
local_utils

fastercnnpytorch.txt
__pycache__/
lib/draw_rectangles/build/lib.linux-x86_64-3.7/
lib/draw_rectangles/build/temp.linux-x86_64-3.7/
runs/
*.deb

fasterRCNN/lib/cuda-keyring_1.0-1_all.deb.1

fasterRCNN/lib/faster_rcnn.egg-info/PKG-INFO

fasterRCNN/lib/faster_rcnn.egg-info/SOURCES.txt

fasterRCNN/lib/build/*
fasterRCNN/lib/model/_C.cpython-36m-x86_64-linux-gnu.so
*.sh
bar_chart_nf2_inference.png

bar_chart_nf2_inference.txt

bar_chart_nf_infer_last.txt

bar_chart_nf_inference.png

bar_chart_nf_inference.txt

bar_chart_nf_inference_infer_last.png

*.pgf

*.svg

*.tex

*.tikz

*.0

misc/
